<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .toolbar {
    position: absolute;
    top: 0.5%;
    left: 0.5%;
    right: 0.5%;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #c60d39;
    color: white;
    font-weight: 600;
    
  }

  .toolbar span{
    margin: 0 16px;
  }

  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
    
  }

  .content h1{
    color: #c60d39;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }

  .card {
    all: unset;
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 130px;
    width: 200px;
    padding: 16px;
    line-height: 24px;
    margin-top: 5%;
  }

  .card.highlight-card {
    background-color: black;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 50%;
    position: relative;
  }

  .card.highlight-card p{
    color: #0B9308;
    margin-top: 5%;
    margin-left: 0.5%;
  }

  ul {
    list-style-type: none;
  }
  
</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span>Jance Geronimo</span>
</div>

<div class="content" role="main">

  <h1>{{ title }}</h1>

  <!-- Highlight Card -->
  <div class="card highlight-card card-small">

    <p>Iron Man: Hello</p>
    <p>Jance: Hi</p>

  </div>

  
  <app-heroes-lists></app-heroes-lists>

  <!-- <app-item-detail (newItemEvent)="addItem($event)"></app-item-detail>
  <ul>
    <li *ngFor="let item of items">{{item}}</li>
  </ul> -->
</div>
  

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
